html {
    background-image: url("../images/earth-100.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    font-family: "Arial Black";
    display: flex;
    flex-direction: row;
}

.back1 {
    height: 10vh;
    width: 8vw;
    border-radius: 100px;
    background-color: #fffd88;
    margin: 2vh 0vw;
    font-size: min(8vw, 8vh);
}

.mapid {
    height: 50vh;
    width: 75vw;
    margin: 0vh 0vw 2vh 0vw;
    display: inline-block;
    border: 2px solid black;
}

.eventdata {
    margin: 5vh 4vw 0vh 4vw;
    height: 90vh;
    width: 80vw;
}

.firstrow{
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 75vw;
    margin: 0vh 0vw 0vh 0vw;
}

.name{
    height: 10vh;
    width: 33vw;
    font-size: min(5vw, 5vh);
    margin: 0vh 5vw 0vh 0vw;
    border: 2px solid black;
}
.date{
    height: 10vh;
    width: 34vw;
    font-size: min(3vw, 5vh);
    margin: 0vh 0vw 0vh 2vw;
    border: 2px solid black;
}

.search{
    display: inline-block;
    height: 10vh;
    width: 74vw;
    font-size: min(6vw, 5vh);
    margin: 0vh 10vw 2vh 0vw;
    border: 2px solid black;
}

.createEvent{
    background-image: url("../images/cloudframe.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: powderblue;
    border-radius: 20px;
    height: 7vh;
    width: 45vw;
    font-size: min(3vw, 5vh);
    border: 2px solid black;
    margin: 0vh 15vw 0vh 15vw;
}

.createEvent:hover {
    background-color: deepskyblue;
}