body {
  font-family: "Arial Black";
}

.fullscreen {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container{
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.content button{
  background-image: url("../images/cloudframe.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: powderblue;
  border: 0px;
  color: black;
  width: 60vw;
  height: 10vh;
  display: block;
  margin: 10vh 20vw;
  font-family: "Arial Black";
  font-size: min(5vw, 40px)
}

.content button:hover {
  background-color: deepskyblue;
}

.content div{
  width: 60vw;
  height: 45vh;
  background-color: #3388ff;
  margin: 5vh 20vw;
}

.weather div{
  background: rgba(0, 0, 0, 0.0);
  display: inline-block;
  width: 55vw;
  height: 33%;
  line-height: 10vh;
  margin: 0% 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.weather label{
  font-family: "Arial Black";
  font-size: min(5vw, 60px);
}

.row1 img{
  width: 25%;
  height: 100%;
  margin: 0% 15%;
  object-fit: contain;
  vertical-align: middle;
}

.row1 label{
  width: 50%;
  margin: 0% 5%;
  vertical-align: middle;
}

.row2 label{
  width: 5%;
  margin: 0% 5%;
  vertical-align: middle;
}

.row3 label{
  width: 50%;
  margin: 0% 5%;
  vertical-align: middle;
}